name: screen_record_detection
description: "Flutter plugin for detecting screen recording, works for android 15 and ios."
version: 0.0.2
homepage: https://github.com/KeldiyarovAkhrorbek/screen_record_detection
repository: https://github.com/KeldiyarovAkhrorbek/screen_record_detection
issue_tracker: https://github.com/KeldiyarovAkhrorbek/screen_record_detection/issues

environment:
  sdk: ^3.9.2
  flutter: '>=3.3.0'

dependencies:
  flutter:
    sdk: flutter
  plugin_platform_interface: ^2.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  plugin:
    platforms:
      android:
        package: com.recording.detection
        pluginClass: ScreenRecordDetectionPlugin
      ios:
        pluginClass: ScreenRecordDetectionPlugin